.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.posts {
  padding: 10px 50px;
  margin: 20px 50px;
  border: 2px solid darkgray;
}